<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>{{title}}</title>
        <style>{{{inlineStyles}}}</style>
        <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style" onload="this.rel='stylesheet'">
        <link rel="preload" type="text/css" href="assets/css/{{styles}}" as="style" onload="this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="assets/css/{{styles}}"></noscript>
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></noscript>
        <script async defer src="assets/js/{{scripts}}"></script>
        <script>{{{loadCss}}}</script>
    </head>
    <body>
        <div class="mdl-layout mdl-layout--fixed-header">
            <div class="cr-center-flex mdl-layout__header is-compact mdl-layout__header--scroll">
                <div class="cr-content cr-content--no-padding mdl-layout__header-row">
                    <a class="cr-header__title cr-navigation__link mdl-layout-title mdl-navigation__link" href="{{{baseUrl}}}">
                        Credit Refund
                    </a>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation">
                        <a class="cr-navigation__link mdl-navigation__link mdl-typography--text-uppercase" href="{{{baseUrl}}}/faq.html">FAQ</a>
                        <a class="cr-navigation__link mdl-navigation__link mdl-typography--text-uppercase" href="{{{baseUrl}}}/contact.html">Contact</a>
                    </nav>
                </div>
            </div>
